.post-content {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.post-content > .post-content-page {
    width: 960px;
    height: 100%;
}

.post-content-page > h4 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 30px;
    font-family: Roboto, sans-serif;
    color: #333333;
}

.post-content-page > .ant-divider-horizontal {
    margin: 0 0 11px 0;
}

.post-content-page .sig-a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #0055A6;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.post-content-page a {
    font-family: Roboto, sans-serif;
    color: #0055A6;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.post-content-page p {
    font-size: 18px;
    line-height: 27px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #333333;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.post-content-page .ant-btn {
    height: 42px;
    background: #0a55a6;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}

.post-content-page .ant-btn[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
}