.post-header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgrey;
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    padding: 0;
}

.post-header > .post-header-page {
    width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 400 18px Arial;
    color: #0055a6;
}

.post-logo {
    content: url("https://www.pochta.ru/portal-v2-theme/assets/src/images/logo.036222e58a2f72dfb287756d6b84a5b6.svg");
    width: 120px;
    height: 60px;
}